@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: rgb(93, 81, 137);
    position: relative;
}

main{
    width: 300px;
    left: 50%;
    top: 50%;
    border: 2px solid rgb(0, 0, 0);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.575);
    transform: translate(-50%, -50%);
    position: absolute;
    background-color: rgb(197, 197, 197);
    border-radius: 10px;
}

section#foto{
    & img{
        width:100%;
        border-radius: 10px 10px 0 0;
        display: block;
    }
}

section#formulario{
    display: block;
    
    & h2{
        text-align: center;
        margin-bottom: 10px;
    }
    & p{
        text-align: justify;
        margin-bottom: 10px;
        padding: 2px;
    }

    div{
        margin-bottom: 10px;

        & label{
            display: inline-block;
            width: 30px;
            height: 30px;
            text-align: center;
        }

        & input{
            height: 25px;
            border-radius: 5px;
            background-color: white;
        }
    }

    div.botao{
        display: block;
        width: 90%;
        padding: 5px;
        margin: auto;
        border-radius: 0;
        text-align: center;

        & input{
           width: 100%;
           height: 30px;
            margin: 1px 0 1px 0;
            cursor: pointer;
        }

        & input:hover{
            background-color: rgb(198, 198, 198);
            font-weight: bolder;
            transition: 0.1s, transform 1s;
            box-shadow: 0 0 20px white ;
            transform: translate(0px, -2px);
        }
    }
}