@charset "UTF-8";


body{
    background-image: linear-gradient(to bottom, blue, rgb(77, 138, 207));
}

main{
    width: 600px;
    height: 300px;
    border: 1px solid black;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 0 10px black;

    & img{
        height: 100%;
        display: inline-block;
        position: absolute;
        right: 0;
        border-radius: 10px;
    }

    & h2, .input, p{   
        width: 50%;
        right: 0;
    }

    & p{
        text-align: justify;
        padding: 10px;
        margin-bottom: 30px;
    } 

    & .input{
        text-align: start;
        margin-bottom: 10px;
    }

    & .botao, .input{
        margin-top: 10px;
    }

    & .botao{
        display: inline-block;
        width: 80px;
    }
}

div{
    width: 50%;
    text-align: center;
}